.form{
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(204, 198, 198, 0.87);
    margin: 20px;
}

.name{
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-size: 20px;
}

.inputName{
    width: 300px;
    height: 30px;
    margin-top: 10px;
}

.inputNumber{
    width: 300px;
    height: 30px;
    margin-top: 10px;
}

.number{
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-size: 20px;
}

.button{
    width: 90px;
    height: 30px;
    margin: 20px;
}